{{ if .Site.Params.experience.enable | default false }}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.experience.title | default "Experience" }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-3 bg-transparent primary-font" id="pills-tab" role="tablist">
                        <!-- Tab untuk setiap pekerjaan -->
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link active bg-transparent" aria-selected="true" role="tab" data-bs-toggle="pill"
                                id="lintas-tab"
                                data-bs-target="#pills-lintas"
                                aria-controls="pills-lintas">
                                PT Aplikanusa Lintasarta
                            </div>
                        </li>
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link bg-transparent" aria-selected="false" role="tab" data-bs-toggle="pill"
                                id="linknet-tab"
                                data-bs-target="#pills-linknet"
                                aria-controls="pills-linknet">
                                PT Link Net Tbk
                            </div>
                        </li>
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link bg-transparent" aria-selected="false" role="tab" data-bs-toggle="pill"
                                id="telkomakses-tab"
                                data-bs-target="#pills-telkomakses"
                                aria-controls="pills-telkomakses">
                                PT Telkom Akses
                            </div>
                        </li>
                    </ul>
                    <div class="tab-content pb-5 pt-2 bg-transparent primary-font" id="pills-tabContent">
                        <div class="tab-pane fade show active bg-transparent" role="tabpanel"
                            id="pills-lintas"
                            aria-labelledby="lintas-tab">
                            <div>
                                <span class="h4">Project Controller FTTH</span>
                                <small>-</small>
                                <a href="https://www.lintasarta.net/" target="_blank">PT Aplikanusa Lintasarta</a>
                                <div class="pb-1">
                                    <small>Jun 2023 - Sep 2023</small>
                                </div>
                                <ul>
                                    <li>Monitoring vendors to ensure the project proceeds according to plan</li>
                                    <li>Providing solutions for utility installation issues in the field</li>
                                    <li>Coordinating with internal stakeholders regarding network device installation points</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade bg-transparent" role="tabpanel"
                            id="pills-linknet"
                            aria-labelledby="linknet-tab">
                            <div>
                                <span class="h4">Project Design FTTH</span>
                                <small>-</small>
                                <a href="https://www.linknet.co.id/" target="_blank">PT Link Net Tbk</a>
                                <div class="pb-1">
                                    <small>Oct 2021 - Sep 2021</small>
                                </div>
                                <div>
                                    • Creating network cable construction designs according to survey results <br>
                                    • Making recommendations for migration construction drawings, both aerial and underground types, as guidance for the field construction team <br>
                                    • Reporting daily activity
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade bg-transparent" role="tabpanel"
                            id="pills-telkomakses"
                            aria-labelledby="telkomakses-tab">
                            <div>
                                <span class="h4">Provisioning Technician WIBS</span>
                                <small>-</small>
                                <a href="https://telkomakses.co.id/" target="_blank">PT Telkom Akses</a>
                                <div class="pb-1">
                                    <small>Dec 2020 - Oct 2021</small>
                                </div>
                                <div>
                                    • Conducting surveys and installing fiber optic networks for services used by other vendor customers
                                    • Performing patchcord jumpers in the Datacenter
                                </div>
                            </div>
                            <div>
                                <span class="h4">Helpdesk Provisioning & Migration</span>
                                <small>-</small>
                                <a href="https://telkomakses.co.id/" target="_blank">PT Telkom Akses</a>
                                <div class="pb-1">
                                    <small>Jun 2020 - Nov 2020</small>
                                </div>
                                <div>
                                    • Monitoring order tickets to ensure no orders are delayed due to system issues
                                    • Assisting field technicians in activating internet, voice, and UseeTV services
                                </div>
                            </div>
                            <div>
                                <span class="h4">Surveyor</span>
                                <small>-</small>
                                <a href="https://telkomakses.co.id/" target="_blank">PT Telkom Akses</a>
                                <div class="pb-1">
                                    <small>Jun 2018 - May 2020</small>
                                </div>
                                <div>
                                    • Conducting surveys for the construction of new FTTx networks both on desk and on site
                                    • Surveying existing fiber optic networks
                                    • Planning and designing the development of new FTTx networks using Google Earth along with the budget allocation
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

