{{ if .Site.Params.experience.enable | default false }}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.experience.title | default "Experience" }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-3 bg-transparent primary-font" id="pills-tab" role="tablist">
                        <!-- Tab untuk setiap pekerjaan -->
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link active bg-transparent" aria-selected="true" role="tab" data-bs-toggle="pill"
                                id="lintas-tab"
                                data-bs-target="#pills-lintas"
                                aria-controls="pills-lintas">
                                PT Aplikanusa Lintasarta
                            </div>
                        </li>
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link bg-transparent" aria-selected="false" role="tab" data-bs-toggle="pill"
                                id="linknet-tab"
                                data-bs-target="#pills-linknet"
                                aria-controls="pills-linknet">
                                PT Link Net Tbk
                            </div>
                        </li>
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div class="nav-link bg-transparent" aria-selected="false" role="tab" data-bs-toggle="pill"
                                id="telkomakses-tab"
                                data-bs-target="#pills-telkomakses"
                                aria-controls="pills-telkomakses">
                                PT Telkom Akses
                            </div>
                        </li>
                    </ul>
                    <div class="tab-content pb-5 pt-2 bg-transparent primary-font" id="pills-tabContent">
                        <div class="tab-pane fade show active bg-transparent" role="tabpanel"
                            id="pills-lintas"
                            aria-labelledby="lintas-tab">
                            <div>
                                <span class="h4">Project Controller FTTH</span>
                                <small>-</small>
                                <a href="https://example.com" target="_blank">PT Aplikanusa Lintasarta</a>
                                <div class="pb-1">
                                    <small>Jun 2023 - Sep 2023</small>
                                </div>
                                <div>
                                    • Monitoring vendor untuk memastikan proyek berjalan sesuai plan <br>
                                    • Memberikan solusi terkait masalah installasi utilitas di lapangan <br>
                                    • Berkoordinasi dengan Penanggung Jawab internal terkait titik pemasangan perangkat jaringan
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade bg-transparent" role="tabpanel"
                            id="pills-linknet"
                            aria-labelledby="linknet-tab">
                            <div>
                                <span class="h4">Junior Software Developer</span>
                                <small>-</small>
                                <a href="https://example.com" target="_blank">Apple</a>
                                <div class="pb-1">
                                    <small>Jan 2020 - Aug 2020</small>
                                </div>
                                <div>
                                    I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA.
                                </div>
                            </div>
                        </div>
                        <!-- Tambahkan lebih banyak konten tab sesuai kebutuhan -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

